# Server Port (Render/Railway sets PORT automatically)
PORT=8000

# MongoDB Connection String (Local or MongoDB Atlas)
# Example Atlas: mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/nexameet?retryWrites=true&w=majority
MONGO_URI=mongodb://127.0.0.1:27017/nexameet

# JWT Secret Key for user authentication sessions
JWT_SECRET=nexameet_super_secret_jwt_key_2026
